form{
    background-color: rgb(118, 95, 220);
}
input{
    background-color: rgba(39, 199, 119);
    margin: 20px;
    opacity: 0.4;

}
label{
    display: inline-block;
    max-width: 40px;
    margin: 20px;
}